<style>
.no_underline_link {
  text-decoration: none;
}
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">

      <h4>成語一覧</h4>
      <% if !user_signed_in? %>
        <small class="text-muted">※ログインすると字体を簡体字・繁体字で切り替えられます</small>
      <% end %>

    </div>
    <div class="col-md-4">

      <%= search_form_for @search_data, url: questions_path do |s| %>
        <div class="row align-items-center">
        <div class="col-md-9 g-0">
        <% if user_signed_in? %>
          <% if Setting.letter_kinds[current_user.setting.letter_kind] == Constants.letter_kind.jiantizi %>
              <%= s.search_field :chengyu_jianti_cont, class: "form-control", placeholder: "成語(簡体字)を入力", list: 'list-name' %>
          <% else %>
            <%= s.search_field :chengyu_fanti_cont, class: "form-control", placeholder: "成語(繁體字)を入力", list: 'list-name' %>
          <% end %>
        <% else %>
          <%= s.search_field :chengyu_jianti_cont, class: "form-control", placeholder: "成語(簡体字)を入力", list: 'list-name' %>
        <% end %>

        <datalist id="list-name">
          <option value="一心一意">
          <option value="一五一十">
          <option value="一毛不拔">
        </datalist>

        </div>
        <div class="col-md-3 g-0">
          <%= s.submit "検索", class: 'btn btn-primary text-right' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">成語</th>
      <th scope="col">ピンイン</th>
      <th scope="col">意味</th>

      <% if user_signed_in? %>
        <th scope="col">fav</th>
        <th scope="col">既知</th>
      <% end %>
    </tr>
  </thead>
  <tbody>

    <% @question.each do |question| %>

      <tr>
        <td><%= question.id %></td>
        <td>
          <span class="notosans">
          <% if user_signed_in? %>
            <%= link_to(question.chengyu_lang_setting(Setting.letter_kinds[current_user.setting.letter_kind]), question_path(question.id)) %>
          <% else %>
            <%= link_to(question.chengyu_lang_setting(Constants.letter_kind.jiantizi), question_path(question.id)) %>
          <% end %>
          </span>
        </td>
        <td><%= question.pinyin %></td>
        <td class="col-6" ><%= question.mean %></td>

        <% if user_signed_in? %>
          <td>
            <% if current_user.favorite?(question) %>
              <%= link_to "★", question_bookmark_path(question_id: question.id, flg: Constants.bookmark_flg.favorite), { data: { "turbo-method": :delete }, class: "no_underline_link" } %>
            <% else %>
              <%= link_to "☆", question_bookmark_path(question_id: question.id, flg: Constants.bookmark_flg.favorite), { data: { "turbo-method": :post }, class: "no_underline_link" }  %>
            <% end%>
          </td>
          <td>
            <% if current_user.known?(question) %>
              <%= link_to "★", question_bookmark_path(question_id: question.id, flg: Constants.bookmark_flg.known), { data: { "turbo-method": :delete }, class: "no_underline_link" } %>
            <% else %>
              <%= link_to "☆", question_bookmark_path(question_id: question.id, flg: Constants.bookmark_flg.known), { data: { "turbo-method": :post }, class: "no_underline_link" }  %>
            <% end%>
          </td>
        <% end %>

      </tr>
    <% end %>

  </tbody>
</table>
<%= paginate @question, theme: 'bootstrap-5', pagination_class: "justify-content-center" %><br />
<%= render 'shared/navigate_button_except_question' %>
