<h4>成語詳細</h4>
<table class="table">
  <tbody>
    <tr>
      <td class="text-end pe-3">問題ID</td>
      <td><%= @question.id %></td>
    </tr>
    <tr>
      <td class="text-end pe-3">成語</td>
      <td>
        <span class="notosans">
          <%= @question.chengyu_lang_setting(@letter_kind) %><br />
        </span>
      </td>
    </tr>
    <tr>
      <td class="text-end pe-3">ピンイン</td>
      <td><%= @question.pinyin %></td>
    </tr>
    <tr>
      <td class="text-end pe-3">意味</td>
      <td><%= @question.mean %></td>
    </tr>
    <tr>
      <td class="text-end pe-3">備考</td>
      <td><%= @question.note %></td>
    </tr>
    <tr>
      <td class="text-end pe-3">別解</td>
      <td>
        <span class="notosans">
          <%= @question.other_answer_lang_setting(@letter_kind) %><br />
        </td>
    </tr>
    <tr>
      <td class="text-end pe-3">類義語</td>
      <td>
        <span class="notosans">
          <% @synonyms.each do |sy| %>
            <% qq = Question.find(sy) %>
            <%= link_to(qq.chengyu_lang_setting(@letter_kind), question_path(qq.id)) %>
            　
          <% end %>
        </span>
      </td>
    </tr>
    <tr>
      <td class="text-end pe-3">辞書</td>
      <td>
        <%= link_to 'Weblio日中中日辞典(簡体字→日本語)', "https://cjjc.weblio.jp/content/#{URI.encode_www_form_component(@question.chengyu_jianti)}", target: "_blank" %><br />
        <%= link_to '漢典(簡体字)', "https://www.zdic.net/hans/#{URI.encode_www_form_component(@question.chengyu_jianti)}", target: "_blank" %><br />
        <%= link_to '中華民國教育部 成語典(繁体字)', "https://dict.idioms.moe.edu.tw/idiomList.jsp?idiom=#{URI.encode_www_form_component(@question.chengyu_fanti)}", target: "_blank" %><br />
        <%= link_to '萌典(繁体字)', "https://www.moedict.tw/#{URI.encode_www_form_component(@question.chengyu_fanti)}", target: "_blank" %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= render partial: "shared/favorite_button", locals: { question: @question }%>
      </td>
    </tr>

  </tbody>
</table>
<%= render 'shared/navigate_button_except_question' %>
