<h1><%= @question.id %></h1>

<h1><%= safe_join(@question.mean.split("\n"),tag(:br)) %></h1>

<h1><div class="notosanssc"><%= @question.chengyu_jianti %></div></h1>
<h1><div class="notosanstc"><%= @question.chengyu_fanti %></div></h1>
<h3><%= @question.pinyin %></h1>

<%= @lang %>
<% if @lang == @JIANTIZI %>
<% langstr = "notosanssc" %>
<% else %>
<% langstr = "notosanstc" %>
<% end %>

<h1><div class=<%=langstr%>><%= @true_answer %></div></h1>

<h1><div class=<%=langstr%>>
<% @choices.each do |c| %>
  <%= c %>
<% end %>
</div></h1>
