[問題]<br />
<span class="notosans lead"><%= @question.chengyu_lang_setting(@use_letter_kind) %></span><br />
<%= @question.pinyin %>
<%= form_with(url: exercises_mean_index_path, local: true) do |f| %>

[回答]<br />
  <% @choices.each_with_index do |c,i| %>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="flexRadio<%= i+1 %>" name="input_answer_id" value=<%= c.id %>>
      <label class="form-check-label" for="flexRadio<%= i+1 %>">
      <%= i+1 %> ) <%= c.mean %>
      </label>
    </div>
    <input type="hidden" name="choices_id[]" value="<%= c.id %>" />
  <% end %>

  <input type="hidden" name="question_id" value="<%= @question.id %>" />
  <input type="hidden" name="use_letter_kind" value="<%= @use_letter_kind %>" />
  <br />
  <button type="submit" class="btn btn-primary">回答する</button>

<% end %>

<hr />
[問題ID] <%= @question.id %><br />
