[問題]<br />
<span class="notosans lead"><%= @question.chengyu_lang_setting(@use_letter_kind) %></span><br />
<%= @question.pinyin %><br />

[解答]<br />
<%= @question.mean %><br />
  <% if @input_answer.id == @question.id %>
    <font color="red">正解！</font>
  <% else %>
    <font color="blue">残念、不正解！</font>
    (入力：<%= @input_answer.mean %>)
  <% end %>
<hr />
[問題ID] <%= @question.id %><br />
<%= render partial: "shared/favorite_button", locals: { question: @question }%>
<hr />
もう一度やってみる？<br />
<%= render 'shared/ask_mean_button' %>
<br />
<%= link_to "Topへ戻る", root_path, class: "btn btn-info m-1" %>
<br />
