<h1><%= t('.sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>
  <br/>

  言語設定
  <%= f.fields_for :setting do |ff| %>
    <div class="form-check">
      <%= ff.radio_button :letter_kind, Constants.letter_kind.jiantizi, class: "form-check-input", checked: true %>
      <%= ff.label :letter_kind, '簡体字', value: Constants.letter_kind.jiantizi, class: "form-check-label" %>
    </div>
    <div class="form-check">
      <%= ff.radio_button :letter_kind, Constants.letter_kind.fantizi, class: "form-check-input" %>
      <%= ff.label :letter_kind, '繁体字', value: Constants.letter_kind.fantizi, class: "form-check-label" %>
    </div>
  <% end %>
  <br />

  <div class="form-group">
  <%= t('devise.registrations.new.password_reinput') %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
  </div>
  <br />
  <div class="form-group">
    <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
  </div>
<% end %>
<br />
<%= render 'devise/shared/links' %>
