[問題ID]<%= @question.id %><br />
[意味]<%= safe_join(@question.mean.split("\n"),tag(:br)) %>
<br />
<br />
[文字をタップして、成語を作成してください(文字は重複する可能性があります)]
<div class="notosans">
  <% @choices.each do |c| %>
    <button type="button" class="btn btn-primary btn-lg" onclick="InputAnswerText('<%= c %>');">
      <%= c %>
    </button>
  <% end %>
</div>

<button type="button" class="btn btn-warning btn-lg" onclick="DeleteAnswerText();">一字削除</button>

<%= form_with(url: exercises_judgement_chengyu_path, local: true) do |f| %>
  <input type="hidden" name="question_id" value="<%= @question.id %>" />
  <input type="hidden" name="choices_join" value="<%= @choices_join %>" />
  <input type="hidden" name="input_answer" value="<%= @input_answer %>" />
  <input type="hidden" name="use_letter_kind" value="<%= @use_letter_kind %>" />
  
  <div class="form-group">
    <label for="answer">４文字で答えを入力してください</label>
    <input type=”text” class="form-control" name="input_answer" id="input_answer" value="<%= @input_answer %>" readonly>
  </div>
  <button type="submit" class="btn btn-primary">回答する</button>
<% end %>

<script>
  function InputAnswerText(str){
    var elem = document.getElementById("input_answer");
    if(elem.value.length < 4) {
      elem.value = elem.value + str;
    }
  }

  function DeleteAnswerText(){
    var elem = document.getElementById("input_answer");
    elem.value = elem.value.slice( 0, -1 );
  }


</script>

</div>