[問題ID]<%= @question.id %><br />
<br />
[問題]<div class="notosans"><%= @question.chengyu_lang_setting(@use_letter_kind) %></div>
[入力された答え]<%= @input_answer.mean %><br />
[正しい答え]<%= @question.mean %><br />
<br />
[正答判定]<br />
<% if @input_answer.id == @question.id %>
  <font color="red">正解！</font>
<% else %>
  <font color="blue">残念、不正解！</font>
<% end %>
<br />
<%= render partial: "favorite_button", locals: { question: @question }%>
<br />
<br />
もう一度やってみる？<br />
<%= render 'shared/ask_mean_button' %>
<br />
<%= link_to "Topへ戻る", root_path, class: "btn btn-light btn-lg" %>
<br />
