[問題ID]<%= @question.id %><br />
<br />
[入力された答え]<div class="notosans"><%= @input_answer %></div><br />
[正しい答え]<div class="notosans"><%= @true_answer %></div><br />

[ピンイン] <%= @question.pinyin %><br />

[正答判定]<br />
<% if @input_answer == @true_answer %>
  <font color="red">正解！</font>
<% else %>
  <font color="blue">残念、不正解！</font>
<% end %>
<br />
<br />
<%= render partial: "shared/favorite_button", locals: { question: @question }%>
<br />
<br />
もう一度やってみる？<br />
<%= render 'shared/ask_chengyu_button' %>
<br />
<%= link_to "Topへ戻る", root_path, class: "btn btn-light btn-lg" %>
<br />
