<br />
<div class="accordion" id="accordionExplain">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
      「成語テスト」とは？
      </button>
    </h2>
    <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionExplain">
      <div class="accordion-body">
        中国語の成語をテスト形式で勉強することのできるサイトです。
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse1">
        成語とは？
      </button>
    </h2>
    <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExplain">
      <div class="accordion-body">
        「成語(chéng yǔ)」とは、中国において古くから用いられる慣用句・ことわざ・格言であり、多くが４文字です(96%程度)。<br />
        ５万個以上あると言われるその一部が日本に伝わって、現在四字熟語と言われています。<br />
        「一石二鳥」「半信半疑」「百発百中」などはその一例です。
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse1">
        中国語の勉強に成語は必要なの？
      </button>
    </h2>
    <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExplain">
      <div class="accordion-body">
        中国語の中級以上の学習者には<span class="fw-bold">間違いなく必要</span>となる知識です。<br />
        <br />
        現在でも、華語人は小学生の頃からそれを暗記し、普段の生活、例えば日常会話、ニュースやドラマ、書籍など様々なシーンで非常に多用していて、それは日本人が慣用句を使う頻度では全くありません。<br />
        また、資格試験ではHSK(漢語水平考試)で5級以上、中国語検定では2級以上、TOCFL(華語文能力測験)では進階級から出題されるようになります。
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse1">
        お勧めの試し方は？
      </button>
    </h2>
    <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExplain">
      <div class="accordion-body">
        ・サインアップ(会員登録)をせず、まずトップページから<span class="fw-bold">成語から意味を答える</span>側の「問題を解く」を試してみてください。<br />
          <%= image_tag 'explain/4.png' %><br />
        　簡体字・繁体字を選ぶことができます。問題内容は同一で、字体のみ変化します。<br />
        <br />
        ・システムが気に入ったら是非<span class="fw-bold">会員登録</span>してみてください。<br />
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse1">
        会員になったけど、お勧めの使い方はありますか？
      </button>
    </h2>
    <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExplain">
      <div class="accordion-body">
        ・<span class="fw-bold">設定変更</span>から「間違った問題から出題する」モードが設定できるようになるので、「全ての問題から出題する」と「間違った問題から出題する」を交互に使ってみましょう。<br />
        <%= image_tag 'explain/5-1.png' %><br />
        <br />
        <%= image_tag 'explain/5-2.png' %><br />
        <br />
        ・いつも間違えてしまうな……という問題は<span class="fw-bold">お気に入り問題</span>にして、「お気に入り問題から出題する」を定期的に試してみましょう。<br />
          <%= image_tag 'explain/5-3.png' %><br />
          <br />
        ・「意味から成語を答える」は難しいので、慣れたら試してみましょう。
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse1">
        会員登録すると何かいいことがあるの？
      </button>
    </h2>
    <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExplain">
      <div class="accordion-body">
        以下の機能を利用することができます。ログイン後「設定変更」をクリックしてください。<br />
        <br />
        ・<span class="fw-bold">毎回の成績を保存</span>することができます。正解率を算出してくれるので、どの問題でたくさん間違ったかがわかります。<br />
        ・出題設定を変更することができます。<br />
        　記録された正答率を利用して出題することができるので、例えば、間違った問題ばかりを解くこともできます。<br />
        ・<span class="fw-bold">「お気に入り問題」</span>を登録することができます。<br />
        　「お気に入り問題からのみ出題する」というモードが使えるので、例えばよく間違う問題を登録しておけば、すぐに復習することができます。<br />
        ・<span class="fw-bold">「既知リスト」</span>を作ることができます。<br />
        　「既知リスト」に入れた問題は、どのモードからも出題されなくなりますので、明らかに覚えてしまった成語を登録すると良いでしょう。<br />
        <br />
        メールアドレスを持っていればどなたでも無料で会員登録ができますが、<%= link_to "プライバシーポリシー", privacy_policy_path, target: :_blank, rel: "noopener noreferrer" %>は是非ご一読ください。
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse1">
        個人設定について教えて
      </button>
    </h2>
    <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExplain">
      <div class="accordion-body">
        ログインしていると、上部のナビゲーションバーの右側に「設定変更」という文字が出現するので、それをクリックしてください。<br />
        <%= image_tag 'explain/5-1.png' %><br />
        下記を設定できます。これらは保存しておくことができます。<br />
        <br />
        ・言語設定(簡体字 / 繁体字)<br />
        ・出題形式設定(意味を見て成語を答える / 成語を見て意味を答える)<br />
        ・出題設定<br />
        　・全ての問題から出題する<br />
        　・自分の間違った問題から出題する(今まで一度でも間違った問題だけから出題)<br />
        　・正答率の低い問題から出題する(今までの正答率が40%以下の問題だけから出題)<br />
        　・お気に入り問題から出題する
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse1">
        このサイトは無料で使えるの？
      </button>
    </h2>
    <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExplain">
      <div class="accordion-body">
        はい、無料で使えます。<br />
        ただし、本リリース以後、サーバ維持費等のためにバナー広告を設置する可能性があります。
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse1">
        運営者のなっきゅ(NaQ)とは何者？
      </button>
    </h2>
    <div id="collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionExplain">
      <div class="accordion-body">
        中国語学習者の日本人です。また、現在Railsなどのプログラムの学習もしています。<br />
        中国語を学習している中で、初心者向けのサイトは非常に多くあるのにも関わらず、<br />
        中上級者の肝となる成語が学べるサイトがあまりにも少ないと感じたため、今回このサイトをつくることにしました。
      </div>
    </div>
  </div>

