[現在プレリリース中！]<br />
<h4>中国語の成語特化型学習サイト「成語テスト」</h4>
成語から意味を答える<br />
<%= render 'shared/ask_mean_button' %>
<br />
意味から成語を答える<br />
<%= render 'shared/ask_chengyu_button' %>
<br />
<hr />
問題を調べる<br />
<%= link_to "成語一覧を見る", questions_path, class: "btn btn-primary m-1" %>
<br />
<hr />
プロファイル<br />
<% if user_signed_in? %>
  <%= link_to "成績を見る", profiles_path, class: "btn btn-primary m-1" %><br />
<% else %>
→アカウントを作りログインすると設定が保存できるようになります。<br />
<% end %>
<%= render 'shared/test_format_change' %>
<hr>
&copy;2024 NaQ(なっきゅ)<br />
<%= link_to "プライバシーポリシー", privacy_policy_path, target: :_blank, rel: "noopener noreferrer" %>
