<h2>
<% if Rails.env.production? %>
[現在開発中！]
<% end %>
成語テストへようこそ！</h2>
<% if Rails.env.production? %>
<p class="text-danger">
本サイトは未完成です。開発中のため、アカウントは作成できません。<br />
テストを受ける場合はアカウントを作成せずに遊んでみてください。
<% end %>
</p>
<br />
成語を聞く問題<br />
<%= render 'shared/ask_chengyu_button' %>
<br />
<br />
意味を聞く問題<br />
<%= render 'shared/ask_mean_button' %>
<br />
<br />
<%= link_to "成語一覧を見る", questions_path, class: "btn btn-primary btn-lg" %>
<br />
<br />
<%= render 'shared/test_format_change' %>
<br />
プロファイル<br />
<% if user_signed_in? %>
  <%= link_to "成績・設定を見る", profiles_path, class: "btn btn-primary btn-lg" %><br />
<% else %>
→アカウントを作りログインすると設定が保存できるようになります。<br />
<% end %>