<h2>成語テストへようこそ！</h2>
<br />
成語を聞く問題<br />
<%= render 'shared/ask_chengyu_button' %>
<br />
<br />
意味を聞く問題<br />
<%= render 'shared/ask_mean_button' %>
<br />
<br />
<%= render 'shared/test_format_change' %>
<br />


<% if user_signed_in? %>
  <%= link_to "プロフィールを見る", profiles_path, class: "btn btn-primary btn-lg" %><br />
<% else %>
  未ログイン<br />
<% end %>
<br />
<%= link_to "成語一覧を見る", questions_path, class: "btn btn-primary btn-lg" %>
